
.authLinks {
  display: flex;
  align-items: center;
  gap: 24px;
}

.authLinks a {
  font-weight: 400;
}

.login {
  color: var(--gray-700);
  font-size: 14px;
}

.signup {
  color: var(--primary);
  font-weight: 600;
  font-size: 14px;
}
