.form {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}


.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
}

.button {
  width: 100%; 
}

.label {
  font-family: var(--font-pretendard);
  font-size: 18px;
  font-weight: 500;
  color: var(--black-333236);
}


.chipRow {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  flex-wrap: wrap; 
}

.modalBody {
  width: 622px;     /* 데스크탑: 고정 */
  max-width: 100%;  /* 혹시 부모가 더 작으면 넘치지 않게 */
}

/* ✅ 화면이 작아지면 100%로 */
@media (max-width: 622px) {
  .modalBody {
    width: 100%;
  }
}