.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-family: var(--font-pretendard);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: var(--black-333236);
}

.imageLabel {
  display: block;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.defaultState {
  width: 100%;
  height: 100%;
}

.defaultImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.previewImage {
  object-fit: cover;
  border-radius: 6px;
}

.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
}

.hoverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* input type="file"은 숨김 처리 */
.hiddenInput {
  display: none;
}
