
.card {
  width: 697px;
  height: 391px;
  background: var(--white-ffffff);
  border: 1px solid var(--gray-eeeeee);
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;
}


.title {
  margin: 0 0 24px 0;
  color: var(--black-333236);
}


.body {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: start;
  column-gap: 32px;
}


.avatarBox {
  width: 182px;
  height: 182px;
  border: 0;
  border-radius: 8px;
  background: #f5f5f5;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.addIcon {
  width: 28px;
  height: 28px;
  display: block;
}


.form {

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  color: var(--black-333236);
}

.input {
  width: 400px;
  height: 54px;
  border-radius: 8px;
  border: 1px solid var(--gray-d9d9d9);
  background: var(--white-ffffff);
  padding: 12px 16px;
  outline: none;
  color: var(--black-333236);
}

.input::placeholder {
  color: var(--gray-9fa6b2);
}

.saveBtn {
  width: 400px;
  margin-top: 8px;
  height: 54px;
  border: 0;
  border-radius: 8px;
  background: var(--violet-5534da);
  color: var(--white-ffffff);
  cursor: pointer;
}

.avatarBox {
  position: relative;      /* ⭐ fill 이미지의 기준 */
  width: 160px;            /* 원하는 크기로 조절 */
  height: 160px;           /* ⭐ 반드시 높이 있어야 함 */
  border-radius: 8px;
  overflow: hidden;        /* ⭐ 박스 밖으로 못 나가게 */
  background: var(--gray-eeeeee); /* 없으면 제거 가능 */
  border: 1px solid var(--gray-d9d9d9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.previewImg {
  object-fit: cover;  
}

.addIconImg {
  width: 24px;
  height: 24px;
}


@media (max-width: 360px) {
  .card {
    width: 284px;
    height: auto; 
    padding: 16px;
  }

  .title {
    margin-bottom: 40px;
    font-size: 18px !important;
    line-height: 26px !important;
  }

  .body {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .avatarBox {
    width: 100px;
    height: 100px;
    border-radius: 6px;
  }

  .addIcon {
    width: 12px;
    height: 12px;
  }

  .addIconImg {
  width: 20px;
  height: 20px;
  display: block;
}

.label {
  font-size: 14px !important;
}
  .form {
    padding-top: 0;
    gap: 24px;
  }

  .input {
    width: 252px;
    height: 50px;
  }

  .saveBtn {
    width: 252px;
    height: 52px;
    font-size: 14px !important;
    margin-top: 0 !important;
  }

}
